@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	html,
	body {
		@apply min-h-screen;
	}

	/* theme */
	:root,
	html[data-theme='light'] {
		--md-sys-color-primary: 11 12 233;
		--md-sys-color-surface-tint: 86 89 146;
		--md-sys-color-on-primary: 255 255 255;
		--md-sys-color-primary-container: 224 224 255;
		--md-sys-color-on-primary-container: 17 20 75;
		--md-sys-color-secondary: 92 93 114;
		--md-sys-color-on-secondary: 255 255 255;
		--md-sys-color-secondary-container: 225 224 249;
		--md-sys-color-on-secondary-container: 25 26 44;
		--md-sys-color-tertiary: 120 83 107;
		--md-sys-color-on-tertiary: 255 255 255;
		--md-sys-color-tertiary-container: 255 216 237;
		--md-sys-color-on-tertiary-container: 46 17 38;
		--md-sys-color-error: 186 26 26;
		--md-sys-color-on-error: 255 255 255;
		--md-sys-color-error-container: 255 218 214;
		--md-sys-color-on-error-container: 65 0 2;
		--md-sys-color-background: 255 255 255;
		--md-sys-color-on-background: 27 27 33;
		--md-sys-color-surface: 251 248 255;
		--md-sys-color-on-surface: 27 27 33;
		--md-sys-color-surface-variant: 228 225 236;
		--md-sys-color-on-surface-variant: 70 70 79;
		--md-sys-color-outline: 119 118 128;
		--md-sys-color-outline-variant: 199 197 208;
		--md-sys-color-shadow: 0 0 0;
		--md-sys-color-scrim: 0 0 0;
		--md-sys-color-inverse-surface: 48 48 54;
		--md-sys-color-inverse-on-surface: 242 239 247;
		--md-sys-color-inverse-primary: 191 194 255;
		--md-sys-color-surface-dim: 220 217 224;
		--md-sys-color-surface-bright: 251 248 255;
		--md-sys-color-surface-container-lowest: 255 255 255;
		--md-sys-color-surface-container-low: 245 242 250;
		--md-sys-color-surface-container: 240 236 244;
		--md-sys-color-surface-container-high: 234 231 239;
		--md-sys-color-surface-container-highest: 228 225 233;
	}

	html[data-theme='dark'] {
		--md-sys-color-primary: 191 194 255;
		--md-sys-color-surface-tint: 191 194 255;
		--md-sys-color-on-primary: 39 43 96;
		--md-sys-color-primary-container: 62 66 120;
		--md-sys-color-on-primary-container: 224 224 255;
		--md-sys-color-secondary: 197 196 221;
		--md-sys-color-on-secondary: 46 47 66;
		--md-sys-color-secondary-container: 68 69 89;
		--md-sys-color-on-secondary-container: 225 224 249;
		--md-sys-color-tertiary: 232 185 213;
		--md-sys-color-on-tertiary: 70 38 59;
		--md-sys-color-tertiary-container: 94 60 82;
		--md-sys-color-on-tertiary-container: 255 216 237;
		--md-sys-color-error: 255 180 171;
		--md-sys-color-on-error: 105 0 5;
		--md-sys-color-error-container: 147 0 10;
		--md-sys-color-on-error-container: 255 218 214;
		--md-sys-color-background: 18 19 29;
		--md-sys-color-on-background: 228 225 233;
		--md-sys-color-surface: 19 19 24;
		--md-sys-color-on-surface: 228 225 233;
		--md-sys-color-surface-variant: 70 70 79;
		--md-sys-color-on-surface-variant: 199 197 208;
		--md-sys-color-outline: 145 143 154;
		--md-sys-color-outline-variant: 70 70 79;
		--md-sys-color-shadow: 0 0 0;
		--md-sys-color-scrim: 0 0 0;
		--md-sys-color-inverse-surface: 228 225 233;
		--md-sys-color-inverse-on-surface: 48 48 54;
		--md-sys-color-inverse-primary: 86 89 146;
		--md-sys-color-surface-dim: 19 19 24;
		--md-sys-color-surface-bright: 57 57 63;
		--md-sys-color-surface-container-lowest: 14 14 19;
		--md-sys-color-surface-container-low: 27 27 33;
		--md-sys-color-surface-container: 31 31 37;
		--md-sys-color-surface-container-high: 42 41 47;
		--md-sys-color-surface-container-highest: 53 52 58;
	}

	html {
		--md-sys-color-primary-fixed: 224 224 255;
		--md-sys-color-on-primary-fixed: 17 20 75;
		--md-sys-color-primary-fixed-dim: 191 194 255;
		--md-sys-color-on-primary-fixed-variant: 62 66 120;
		--md-sys-color-secondary-fixed: 225 224 249;
		--md-sys-color-on-secondary-fixed: 25 26 44;
		--md-sys-color-secondary-fixed-dim: 197 196 221;
		--md-sys-color-on-secondary-fixed-variant: 68 69 89;
		--md-sys-color-tertiary-fixed: 255 216 237;
		--md-sys-color-on-tertiary-fixed: 46 17 38;
		--md-sys-color-tertiary-fixed-dim: 232 185 213;
		--md-sys-color-on-tertiary-fixed-variant: 94 60 82;
	}

	/* scrollbar */
	*:not(body)::-webkit-scrollbar {
		display: none;
	}

	*:not(html) {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	/* cursor */
	/**
    * {
        cursor: none !important;
    }
     */
	/* gradient */
	.gradient {
		background-image: radial-gradient(closest-side, rgb(235, 105, 78), rgba(235, 105, 78, 0)),
			radial-gradient(closest-side, rgb(243, 11, 164), rgba(243, 11, 164, 0)),
			radial-gradient(closest-side, rgb(255, 225, 0), rgba(254, 234, 131, 0)),
			radial-gradient(closest-side, rgb(170, 142, 245), rgba(170, 142, 245, 0)),
			radial-gradient(closest-side, rgb(248, 192, 147), rgba(248, 192, 147, 0));
		background-size:
			130vmax 130vmax,
			80vmax 80vmax,
			90vmax 90vmax,
			110vmax 110vmax,
			90vmax 90vmax;
		background-position:
			-80vmax -80vmax,
			60vmax -30vmax,
			10vmax 10vmax,
			-30vmax -10vmax,
			50vmax 50vmax;
		animation: 10s movement linear infinite;
	}

	@keyframes movement {
		0%,
		100% {
			background-size:
				130vmax 130vmax,
				80vmax 80vmax,
				90vmax 90vmax,
				110vmax 110vmax,
				90vmax 90vmax;
			background-position:
				-80vmax -80vmax,
				60vmax -30vmax,
				10vmax 10vmax,
				-30vmax -10vmax,
				50vmax 50vmax;
		}
		25% {
			background-size:
				100vmax 100vmax,
				90vmax 90vmax,
				100vmax 100vmax,
				90vmax 90vmax,
				60vmax 60vmax;
			background-position:
				-60vmax -90vmax,
				50vmax -40vmax,
				0 -20vmax,
				-40vmax -20vmax,
				40vmax 60vmax;
		}
		50% {
			background-size:
				80vmax 80vmax,
				110vmax 110vmax,
				80vmax 80vmax,
				60vmax 60vmax,
				80vmax 80vmax;
			background-position:
				-50vmax -70vmax,
				40vmax -30vmax,
				10vmax 0,
				20vmax 10vmax,
				30vmax 70vmax;
		}
		75% {
			background-size:
				90vmax 90vmax,
				90vmax 90vmax,
				100vmax 100vmax,
				90vmax 90vmax,
				70vmax 70vmax;
			background-position:
				-50vmax -40vmax,
				50vmax -30vmax,
				20vmax 0,
				-10vmax 10vmax,
				40vmax 60vmax;
		}
	}
}
